<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Model Deployment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static\styles\style.css">

</head>

<body>
    <ul class="topnav">
        <li style="text-align: center;"><img src="static\styles\growth.png" width="38px" height="37px" ></li>
        <li><a href="#">Wise Investor</a></li>
        <li><a href="\"><i class="fa fa-home" style="font-size:15px" aria-hidden="true"></i>Home</a></li>
        <li><a class="active" href="#" target="_self"><i class="fa fa-codepen" style="font-size:15px"aria-hidden="true"></i>Predict</a></li>
        <li><a href="#"><i class="fa fa-user" style="font-size:15px" aria-hidden="true"></i>About</a></li>
        <li><a href="#"><i class="fa fa-phone" style="font-size:15px" aria-hidden="true"></i>Contact</a></li>
    </ul>
    <section class="venture">
        <div class="transbox">
            <h1>Venture Funding Amount Prediction</h1>
            <p>
            Fill the Fields to get the result
            </p>
            <form action="/predict" method="post" enctype="multipart/form-data" onsubmit="showloading()">
                    
                    <b style="color: white;">Funding Rounds: <input type="number", name="a", placeholder = "number of funding rounds" required><br><br>
                        Seed Amount: <input type="number", name="b", placeholder = "amount of seed round" required><br><br>
                        Angel Funding: <input type="number", name="c", placeholder = "amount of angel round" required><br><br>
                        Funding Round A: <input type="number", name="d", placeholder = "amount of funding round A" required><br><br>
                        Funding Round B: <input type="number", name="e", placeholder = "amount of funding round B" required><br><br>
                        Funding Round C: <input type="number", name="f", placeholder = "amount of funding round C" required><br><br>
                        Funding Round D: <input type="number", name="g", placeholder = "amount of funding round D" required><br><br>
                        Funding Round E: <input type="number", name="h", placeholder = "amount of funding round E" required><br><br>
                        Funding Round F: <input type="number", name="i", placeholder = "amount of funding round F" required><br><br>
                        Funding Round G: <input type="number", name="j", placeholder = "amount of funding round G" required><br><br>
                        Funding Round H: <input type="number", name="k", placeholder = "amount of funding round H" required><br><br><br></b>
                <button type="submit" style="height: 30px;width: auto;font-size:20px">Predict</button>
            </form>
            
        </div>
    </section>  

    <!-- footer website -->
    <footer>
        <p class="scroll-scale">Copyright &copy; 2023 by Mamta || All Rights Reserved.
        </p>
      </footer>
</body>
</html>